<% content_for :title, "Experiment (#{@experiment.name})" %>
<%= javascript_include_tag 'data_visualization/sample', 'data-no-turbolink' => true %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <%= link_to 'Back', :back, class: 'btn btn-default' %>
            <h3 class="page-header">Experiment Details</h3>

            <%= form_for(:experiment, :url => {:controller => "dashboard/experiment", :action => "edit"}) do |f| %>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Tags</th>
                        <th>Expiry Date</th>
                        <th>Save?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> <%= @experiment.id %> </td>
                        <td> <%= f.text_field :name, :value => @experiment.name, class: 'form-control' %> </td>
                        <td> <%= f.text_field :tags, :value => @experiment.tag_list, class: 'form-control' %> </td>
                        <td> <%= f.date_field :expiry_date, :value => @experiment.expiry_date, class: 'form-control' %> </td>
                        <td> <%= f.submit "Save", class: "btn btn-primary btn-block" %> </td>
                    </tr>
                    </tbody>
                </table>
            <% end %>

            <h3 class="page-header">Samples</h3>

            <h4 class="page-header">Current Samples</h4>
            <%= form_for(:experiment_samples, :url => {:controller => "dashboard/experiment", :action => "sample_delete"}) do |f| %>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th class="col-md-2"> Remove? </th>
                        </tr>
                    </thead>
                    <tbody>
                    <%= f.collection_check_boxes(:id, Sample.where(:id => @experiment.samples), :id, :sample_display, checked: []) do |b|%>
                        <tr>
                            <%= b.label(class: "check_box") do %>
                                <td>
                                    <%= b.object.id %>
                                </td>
                                <td>
                                    <%= b.object.name.strip %>
                                </td>
                                <td>
                                    <%= b.check_box(class: "check_box") %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
                <%= f.submit "Remove Selected", class: "btn btn-danger" %>
            <% end %>

            <h4 class="page-header">Update Samples</h4>
            <%= form_for(:experiment_samples, :url => {:controller => "dashboard/experiment", :action => "sample_edit"}) do |f| %>
            <table class="table table-striped table-bordered table-hover experiment-table">
                <thead>
                <tr>
                    <th class="col-md-1">Include?</th>
                    <th>Sample Name</th>
                </tr>
                </thead>
                <%= f.collection_check_boxes(:id, Sample.where.not(:id => @experiment.samples), :id, :sample_display, checked: []) do |b|%>
                    <tr>
                        <%= b.label(class: "check_box") do %>
                            <td>
                                <%= b.check_box(class: "check_box") %>
                            </td>
                            <td>
                                <%= b.object.name.strip %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </table>
            <%= f.submit "Save", class: "btn btn-primary btn-block" %>
            <% end %>

            <div id="chart-score">
                <div id="hiddendata-score">
                    <%= @chart_score_data %>
                </div>
            </div>
        </div>
    </div>
</div>