<!DOCTYPE html>
<html>
<head>
<title><%= "Perch: #{yield(:title)}" %></title>

<!-- Stylesheets -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-no-turbolink' => true %>
<%= stylesheet_link_tag    'c3', media: 'all', 'data-no-turbolink' => true %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- JS -->
<%= javascript_include_tag 'application', 'data-no-turbolink' => true %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Data visualization libraries -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<%= javascript_include_tag 'c3' %>
<%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/header" %>
<% if current_user %>
  <%= render partial: "layouts/sidebar" %>
      <div id="page-content-wrapper">
      <div class="container">
        <div class="row"><%= render partial: "layouts/flash_messages", flash: flash %></div>
      </div>
          <%= yield %>
      </div>
<% else %>
     <%= yield %>
<% end %>

</body>
</html>
